{% extends "base.html" %}
{% block title %}About Mixture{% endblock %}

{% block body %}

<h1>About Mixture</h1>

<div id="content">

<p>
    <a href="/">Mixture</a> has been developed during the <a href="cannes.musichackday.org/2012/">MIDEM HackDay 2012</a>, thanks to a bunch of music and data APIs - and a little help from <a href="http://www.flickr.com/photos/thomasbonte/6781803679/in/set-72157629079776991/">Justin Bieber</a> (because every Music App needs a bit of JB).
</p>

<div id="left">
<h2>The hackers</h2>
<p>Hey, we are awesome !</p>
</div>

<div id="right">
<h2>The APIs</h2>
<p>logos + screenshots of the services</p>
</div>

</div>

{% endblock %}
