<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/mixture.css">
{% block head %}
{% endblock %}
</head>
<body class="{{ nav }}">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <div id="header"><a href="/"><img src="/static/mixture_logo.png"></a></div>
  <div id="nav" class="{{ nav }}">
    <div class="segment" id="nav-one">
      <span>1. Capture</span>
      <div class="edge" id="edge-left"></div>
    </div>
    <div class="segment" id="nav-two">
      <span>2. Mixture</span>
      <div class="edge" id="edge-right"></div>
    </div>
    <div class="segment" id="nav-three">
      <span>3. Enjoy</span>
    </div>
  </div>
  <div id="container">
    {% block body %}
    {% endblock %}
  </div>
  <div id="footer">
      <p>
        A <a href="http://cannes.musichackday.org/2012">MIDEM HackDay 2012</a> experiment - Powered by <a href="http://www.iqengines.com">IQ Engines</a>, <a href="http://musixmatch.com">musiXmatch</a>, <a href="http://rd.io">rd.io</a>, <a href="http://seevl.net">seevl</a>, and <a href="http://webdoc.com">webdoc</a>.<a href="http://wiki.musichackday.org/index.php?title=Mixture">Read more</a>.
    </p>
    <div class="fb-like" data-href="http://mixtureapp.com" data-send="true" data-width="450" data-show-faces="true"></div>
    <!-- Place this tag where you want the +1 button to render -->
    <g:plusone annotation="inline"></g:plusone>
    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
</body>
</html>