{% extends "frame.html" %}

{% block body %}

<h1>{{ track.artist }} by {{ track.name }}</h1>

<iframe width="400" height="30" src="{{ track.rdio.embedUrl }}?autoplay=true"></iframe>

<div id="content">
    
<div id="left">
<h2>About {{ track.artist.prefLabel }}</h2>
{% autoescape off %}
<div id="description">{{ track.artist.infos.description.value }}</div>
{% endautoescape %}
{% if artist.thumbnail %}<img src="{{ track.artist.thumbnail.uri }}"/>{% endif %}

<h3>Genre(s)</h3>
<ul>{% for g in track.artist.facts.genre %}
<li>{{ g.prefLabel }}</li>
{% endfor %}</ul>

<h3>Origin(s)</h3>
<ul>{% for o in track.artist.facts.origin %}
<li>{{ o.prefLabel }}</li>
{% endfor %}</ul>

<h3>Label(s)</h3>
<ul>{% for l in track.artist.facts.label %}
<li>{{ l.prefLabel }}</li>
{% endfor %}</ul>

<h3>Members(s)</h3>
<ul>{% for m in track.artist.facts.membership.artist %}
<li>{{ m.prefLabel }}</li>
{% endfor %}</ul>
</div>

<div id="right">
<h2>Lyrics of {{ track.name }}</h2>
{{ track.lyrics }}
</div>

</div>

<script>
$(document).ready(function(){
    $('#description').condense({
        moreSpeed: 'fast',
        lessSpeed: 'fast',
        moreText: 'read more',
        lessText: 'read less',
        ellipsis: "...",
        condensedLength: 200
      });
     });
</script>

{% endblock %}
