{% extends "frame.html" %}

{% block body %}

<h1>Playing {{ track.artist }} by {{ track.name }}</h1>

<iframe width="400" height="30" src="{{ track.rdio.embedUrl }}?autoplay=true"></iframe>

<hr/>
{{ track.lyrics }}
<hr/>

<h2>About {{ track.artist.prefLabel }}</h2>
{% autoescape off %}
{{ track.artist.infos.description.value }}
{% endautoescape %}
{% if artist.thumbnail %}<img src="{{ track.artist.thumbnail.uri }}"/>{% endif %}

<h3>Genre(s)</h3>
<ul>{% for g in track.artist.facts.genre %}
<li>{{ g.prefLabel }}</li>
{% endfor %}</ul>

<h3>Origin(s)</h3>
<ul>{% for o in track.artist.facts.origin %}
<li>{{ o.prefLabel }}</li>
{% endfor %}</ul>

<h3>Label(s)</h3>
<ul>{% for l in track.artist.facts.label %}
<li>{{ l.prefLabel }}</li>
{% endfor %}</ul>

<h3>Members(s)</h3>
<ul>{% for m in track.artist.facts.membership.artist %}
<li>{{ m.prefLabel }}</li>
{% endfor %}</ul>

{% endblock %}
