{% extends "base.html" %}
{% block title %}Mixturing{% endblock %}
{% block head %}
  <script>
  $(document).ready(function() {
    setInterval(function() {
      $.ajax({
        type: 'GET',
     	url: '/poll/{{ qid }}',
        dataType: 'json',
        success: function (result) {
          if (result) {
            window.location.href = '/tracks/'+encodeURIComponent(result)+'?qid={{ qid }}'
          }
        }
      })
    }, 1000)
  });
  </script>
{% endblock %}

{% block body %}
<div style="text-align:center">
<br><br><br>
<img src="/static/mixture.gif">
</div>
{% endblock %}
