{% extends "base.html" %}
{% block title %}Select a track{% endblock %}

{% block body %}

<div style="float: left; margin-right: 30px">
<h1>Select a track</h1>
<ul>
{% for track in tracks %}
<li><a href="/play/{{ track.track_id }}" id="{{ track.track_id }}" class="play">{{ track.track_name }} by {{ track.artist_name }}</a></li>
{% endfor %}
</ul>
</div>

<iframe width="600" height="800" src="/play/{{ random.track_id }}" id="player"></iframe>

<script>
$('.play').click(function() {
    var id = $(this).attr('id');
    alert(id)
    $('#player').attr('src', '/play/' + id);
    return false;
});
</script>

{% endblock %}
