{% extends "base.html" %}
{% block title %}Select a track{% endblock %}

{% block body %}
<h1>Select a track</h1>

<ul>
{% for track in tracks %}
<li>{{ track.track_name }} by {{ track.artist_name }} - <a href="/play/{{ track.track_id }}" id="{{ track.track_id }}" class="play">play</a></li>
{% endfor %}
</ul>

<iframe width="400" height="30" src="{{ track.embedUrl }}?autoplay=true"></iframe>

<div id="player">
    <iframe id="rdio"></iframe>
    <iframe id="mxm"></iframe>
    <iframe id="seevl"></iframe>
</div>

<script>
$(".play").click(function() {
    var id = $(this).attr('id');
    $("#seevl").attr("src") = "http://google.com";
    return false;
    return false;
});
</script>

{% endblock %}
