{% extends "base.html" %}
{% block title %}Upload an image{% endblock %}
{% block head %}
  <script src="/static/webcam.js"></script>
{% endblock %}

{% block body %}
<h1>Take a picture</h1>

<script language="JavaScript">
  webcam.set_swf_url('/static/webcam.swf');
  webcam.set_shutter_sound(true, '/static/shutter.mp3');
  document.write(webcam.get_html(320, 240));
  webcam.set_api_url('/upload/');
  webcam.set_hook('onComplete', 'my_callback_function');
  function my_callback_function(response) {
    window.location.href=response;
  }
</script>
<a href="javascript:void(webcam.snap())">Take Snapshot</a>
{% endblock %}
