{% extends "base.html" %}
{% block title %}Upload an image{% endblock %}
{% block head %}
  <script src="/static/webcam.js"></script>
{% endblock %}

{% block body %}

<script language="JavaScript">
  webcam.set_swf_url('/static/webcam.swf');
  webcam.set_shutter_sound(true, '/static/shutter.mp3');

  webcam.set_api_url('/upload/');
  webcam.set_hook('onComplete', 'my_callback_function');
  function my_callback_function(response) {
    window.location.href=response;
  }
</script>
  <div id="camholder">
    <div id="camera"><script>document.write(webcam.get_html(435, 325));</script></div>
    <button onclick="webcam.snap()" id="capture">Capture!</button>
  </div>

  </div>
{% endblock %}
